*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	height:100vh;
	display:flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;	
	background: linear-gradient(rgb(47,150,163),rgb(48,62,143));
	font-family: sans-serif;
	color:white;
}

.heading{
	font-size:50px;
}
.weather-display{
	width:40%;
}
.loc,.temp{
	height:30vh;
	width:100%;
	display:flex;
	justify-content: space-around;
	align-items: center;
}
.loc-tm{
	font-size: 40px;
}
.temp{
	flex-direction:column;
}
.temp-sec{
	display:flex;
	align-items: center;
	cursor: pointer;
}
.temp-sec span{
	margin:10px;
	font-size:30px;
}
.temp-sec h2{
	font-size:40px;
}
.temp-desc{
	font-size:25px;
}
.hidden{
	display:none !important;
}
input[type=text]{
	margin:20px 10px;
	padding:0px 5px;
	height:5vh;
}
input[type=button]{
	margin:5px;
	padding:5px 10px;
	font-size:20px;
	cursor: pointer;
	color:white;
	background: linear-gradient(#8f8f8f,#101010)
}



